[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/reboot"]
	path = ansible/roles/reboot
	url = https://github.com/johanneskastl/ansible-role-reboot.git
[submodule "ansible/roles/minimal_bashrc"]
	path = ansible/roles/minimal_bashrc
	url = https://github.com/johanneskastl/ansible-role-minimal_bashrc.git
[submodule "ansible/roles/install_rke2"]
	path = ansible/roles/install_rke2
	url = https://github.com/johanneskastl/ansible-role-install_rke2.git
